<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGeocodeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57475/GeocodeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGeocodeService"
                contract="LocalGeocodeService.IGeocodeService" name="BasicHttpBinding_IGeocodeService" />
        </client>
    </system.serviceModel>
</configuration>